@import "tailwindcss";

:root {
  --background: #EEF6F6; /* Clear Day */
  --foreground: #19322F; /* Nordic */
  --nordic: #19322F;
  --mosque: #006655;
  --hint-of-green: #D9ECC8;
  --clear-day: #EEF6F6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-nordic: var(--nordic);
  --color-mosque: var(--mosque);
  --color-hint-of-green: var(--hint-of-green);
  --color-clear-day: var(--clear-day);
  --font-display: "Inter", "SF Pro Display", sans-serif;
}


body {
  background: var(--background);
  color: var(--foreground);
}
